---
import heroImage from "@assets/kristjan.jpeg";
import Card from "@components/Card.astro";
import Lines from "@components/Lines.astro";
import Wrapper from "@components/Wrapper.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";
import { Image } from "astro:assets";
import ArrowUpRight from "node_modules/lucide-astro/dist/ArrowUpRight.astro";
import CornerLeftUp from "node_modules/lucide-astro/dist/CornerLeftUp.astro";

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);

const TYPES = ["fun", "school", "thoughts"];
---

<script>
  import { generateRandomHexCode } from "@utils/utils";

  const heroImage = document.getElementById("hero-image");

  document.addEventListener("DOMContentLoaded", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });

  heroImage.addEventListener("click", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });
</script>

<Layout title="Kristjan Poska">
  <Wrapper shouldWrapMdx={false}>
    <h1>Kristjan Poska</h1>

    <main class="mx-auto mt-8">
      <div
        class="group relative select-none hover:cursor-pointer"
        id="hero-image">
        <Lines />

        <Image
          loading="eager"
          src={heroImage}
          alt="Kristjan Poska taking a picture of himself in a reflection."
        />
      </div>

      <div
        class="mt-2 flex gap-1 rounded-xl text-xs text-neutral-500"
        id="hero-image">
        <CornerLeftUp class="h-3 w-3" /> Click on the image
        to change colors!
      </div>

      <header class="mt-8">
        <h2 class="mb-4">About</h2>
        <div class="flex flex-col gap-2">
          <p>
            Hey, I'm Kristjan. I am a Product Designer from
            Estonia. I love to craft sleek and user-friendly
            digital spaces and to create systems out of
            chaos.
          </p>

          <p>
            My background is multicolored. I have formally
            studied linguistics and interaction design, but
            also have a vivid background in software
            engineering, mainly <a
              href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
              class="underline hover:no-underline"
              target="_blank"
              >front-of-the-front-end engineering</a
            >. I have also stepped my toes in marketing and
            have worked as a barista, which is where my love
            for coffee is derived from.
          </p>

          <h2 class="mt-8">Now</h2>

          <p>
            I am currently working as a Product Designer at
            <a
              class="underline hover:no-underline"
              href="https://1ot.com/"
              target="_blank">1oT</a
            >, the Tinder of telecoms.
          </p>

          <p>
            If you don't find me on the internet, I am
            either out riding my bicycle, practicing a new
            song on guitar, brewing some fancy specialty
            coffee or shooting pictures with a camera.
          </p>

          <section class="mt-8">
            <h2 class="mb-4">Stuff that's on my mind</h2>
            <div class="[&>#list-element]:hover:opacity-50">
              {
                posts.map((post) => {
                  const { description, date, type } =
                    post.frontmatter;

                  return (
                    <Card
                      date={date}
                      description={description}
                      href={post.url}
                      type={type}
                    />
                  );
                })
              }
            </div>
          </section>

          <footer class="mt-8">
            <h2 class="mb-4">Links</h2>

            <ul role="list">
              <li class="group w-fit">
                <a
                  href="https://instagram.com/kristjanposka"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >Instagram</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>

              <li class="group w-fit">
                <a
                  href="https://www.linkedin.com/in/kristjan-poska/"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >LinkedIn</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>

              <li class="w-fit">
                <a
                  class="underline hover:no-underline"
                  href="mailto:kristjanposka@gmail.com"
                  >E-mail</a
                >
              </li>

              <li class="group w-fit">
                <a
                  href="https://read.cv/poska"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >Resume</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </header>
    </main>
  </Wrapper>
</Layout>
