---
import heroImage from "@assets/kristjan.jpeg";
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";
import { Image } from "astro:assets";
import { ArrowUpRight } from "lucide-astro";

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);
---

<Layout title="Kristjan Poska">
  <Container shouldWrapMdx={false}>
    <header class="mx-auto mt-8">
      <nav class="flex justify-between">
        <h1>Kristjan Poska</h1>

        <ul class="flex gap-2">
          <li>
            <a
              href="/photos"
              class="text-neutral-500 hover:text-inherit"
              >Photos</a
            >
          </li>
        </ul>
      </nav>

      <div
        class="group relative mt-8 select-none"
        id="hero-image">
        <Image
          class="aspect-video object-cover"
          loading="eager"
          src={heroImage}
          alt="Kristjan Poska taking a picture of himself in a reflection."
        />
      </div>
    </header>

    <main class="mt-8">
      <h2 class="mb-4">About</h2>
      <div class="flex flex-col gap-2">
        <p>
          Hey, I'm Kristjan. I am a Product Designer from
          Estonia. I love to craft sleek and user-friendly
          digital spaces and to create systems out of chaos.
        </p>

        <p>
          My background is multicolored. I have formally
          studied linguistics and interaction design, but
          also have a vivid background in software
          engineering, mainly <a
            href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
            class="underline hover:no-underline"
            target="_blank"
            >front-of-the-front-end engineering</a
          >. I have also stepped my toes in marketing and
          have worked as a barista, which is where my love
          for coffee is derived from.
        </p>

        <h2 class="mt-8">Now</h2>

        <p>
          I am currently working as a Product Designer at
          <a
            class="underline hover:no-underline"
            href="https://1ot.com/"
            target="_blank">1oT</a
          >, the Tinder of telecoms.
        </p>

        <p>
          If you don't find me on the internet, I am either
          out riding my bicycle, practicing a new song on
          guitar, brewing some fancy specialty coffee or
          shooting pictures with a camera.
        </p>

        <section class="mt-8">
          <h2 class="mb-4">Stuff that's on my mind</h2>
          <div class="[&>#list-element]:hover:opacity-50">
            {
              posts.map((post) => {
                const { description, date, type } =
                  post.frontmatter;

                return (
                  <Card
                    date={date}
                    description={description}
                    href={post.url}
                    type={type}
                  />
                );
              })
            }
          </div>
        </section>
      </div>
    </main>

    <footer class="mt-8">
      <h2 class="mb-4">Links</h2>

      <ul role="list">
        <li class="group w-fit">
          <a
            href="https://instagram.com/kristjanposka"
            target="_blank"
            rel="noreferrer noopener"
            ><span
              class="underline group-hover:no-underline"
              >Instagram</span
            >
            <ArrowUpRight
              class="-ml-0.5 inline h-3 w-3 align-text-top"
            />
          </a>
        </li>

        <li class="group w-fit">
          <a
            href="https://www.linkedin.com/in/kristjan-poska/"
            target="_blank"
            rel="noreferrer noopener"
            ><span
              class="underline group-hover:no-underline"
              >LinkedIn</span
            >
            <ArrowUpRight
              class="-ml-0.5 inline h-3 w-3 align-text-top"
            />
          </a>
        </li>

        <li class="w-fit">
          <a
            class="underline hover:no-underline"
            href="mailto:kristjanposka@gmail.com">E-mail</a
          >
        </li>

        <li class="group w-fit">
          <a
            href="https://read.cv/poska"
            target="_blank"
            rel="noreferrer noopener"
            ><span
              class="underline group-hover:no-underline"
              >Resume</span
            >
            <ArrowUpRight
              class="-ml-0.5 inline h-3 w-3 align-text-top"
            />
          </a>
        </li>
      </ul>
    </footer>
  </Container>
</Layout>
