---
import { Image } from "astro:assets";
import heroImage from "@assets/kristjan.jpeg";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { sortPosts } from "@utils/utils";
import ArrowUpRight from "node_modules/lucide-astro/dist/ArrowUpRight.astro";
import Lines from "@components/Lines.astro";
import CornerLeftUp from "node_modules/lucide-astro/dist/CornerLeftUp.astro";
import Wrapper from "@components/Wrapper.astro";

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);

const TYPES = ["fun", "school", "thoughts"];
---

<script>
  import { generateRandomHexCode } from "@utils/utils";

  const heroImage = document.getElementById("hero-image");

  document.addEventListener("DOMContentLoaded", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });

  heroImage.addEventListener("click", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });
</script>

<Layout title="Kristjan Poska – Product Designer">
  <Wrapper shouldWrapMdx={false}>
    <h1 class="font-semibold">Kristjan Poska</h1>

    <main class="mx-auto mt-8">
      <div
        class="group relative select-none hover:cursor-pointer"
        id="hero-image">
        <Lines />

        <Image
          loading="eager"
          src={heroImage}
          alt="Kristjan Poska taking a picture of himself in a reflection."
        />
      </div>

      <div
        class="mt-2 flex gap-1 rounded-xl text-xs text-neutral-500"
        id="hero-image">
        <CornerLeftUp class="h-3 w-3" /> Click on the image
        to change colors!
      </div>

      <header class="mt-8 flex flex-col gap-2">
        <p>
          Hey, I'm Kristjan, ringing in from <a
            href="https://maps.app.goo.gl/hLcmFBUmjcA2zSe87"
            target="_blank"
            class="text-[#016FC8] underline hover:no-underline"
            >Tallinn, Estonia</a
          >. I am all about crafting sleek and user-friendly
          digital spaces and creating systems out of chaos.
          My toolbox includes (yet is not limited to)
          TypeScript, React and TailwindCSS on the
          development side and Figma plus my creative-side
          of the brain on the design side.
        </p>

        <p>
          Currently finishing up my <a
            class="text-[#FC8B24] underline hover:no-underline"
            href="https://ixd.ma"
            target="_blank">Interaction Design</a
          >
           degree at and breaking things as a Product
          Designer at <a
            href="https://guardtime.com"
            target="_blank"
            class="text-[#E62529] underline hover:no-underline"
            >Guardtime</a
          >.
        </p>

        <p>
          If you don't find me on the internet, I am
          probably either out riding my bicycle or running
          around aimlessly with a Fujifilm camera.
        </p>
      </header>

      <hr class="my-8 border-dashed border-zinc-300" />

      <section class="someKindaClass mt-8">
        {
          posts.map((post) => {
            const { description, date, type } =
              post.frontmatter;

            return (
              <Card
                date={date}
                description={description}
                href={post.url}
                type={type}
              />
            );
          })
        }
      </section>

      <hr class="my-8 border-dashed border-zinc-300" />

      <ul role="list" class="mt-8 flex items-center gap-2">
        <li>
          <a
            class="underline hover:no-underline"
            href="https://instagram.com/kristjanposka"
            >Instagram</a
          >
        </li>
        <li>&middot;</li>
        <li>
          <a
            class="underline hover:no-underline"
            href="mailto:kristjanposka@gmail.com">E-mail</a
          >
        </li>
        <li>&middot;</li>
        <li class="group">
          <a href="https://read.cv/poska" target="_blank"
            ><span
              class="underline group-hover:no-underline"
              >Resume</span
            >
            <ArrowUpRight
              class="-ml-0.5 inline h-3 w-3 align-text-top"
            />
          </a>
        </li>
      </ul>
    </main>
  </Wrapper>
</Layout>

<style is:global>
  .someKindaClass:hover #list-element {
    opacity: 0.7;
  }

  .someKindaClass #list-element:hover {
    opacity: 1 !important;
  }
</style>
