---
import bicycleVideo from "@assets/bicycle.webm";
import guitarVideo from "@assets/guitar.webm";
import heroImage from "@assets/kristjan.jpeg";
import Card from "@components/Card.astro";
import Lines from "@components/Lines.astro";
import Wrapper from "@components/Wrapper.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";
import { Image } from "astro:assets";
import ArrowUpRight from "node_modules/lucide-astro/dist/ArrowUpRight.astro";
import CornerLeftUp from "node_modules/lucide-astro/dist/CornerLeftUp.astro";

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);

const TYPES = ["fun", "school", "thoughts"];
---

<script>
  import { generateRandomHexCode } from "@utils/utils";

  const heroImage = document.getElementById("hero-image");

  document.addEventListener("DOMContentLoaded", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });

  heroImage.addEventListener("click", () => {
    document.documentElement.style.setProperty(
      "--hero-image-hex",
      generateRandomHexCode()
    );
  });

  document.addEventListener("DOMContentLoaded", () => {
    const hoverTextIds = ["bicycle-hover", "guitar-hover"];

    hoverTextIds.forEach((id) => {
      const hoverText = document.getElementById(id);
      const basis = id.split("-")[0];
      const videoContainer = document.getElementById(
        `${basis}-video-container`
      );

      hoverText.addEventListener("mouseover", () => {
        videoContainer.classList.remove("hidden");
      });

      hoverText.addEventListener("mousemove", (e) => {
        const videoContainerRect =
          videoContainer.getBoundingClientRect();

        const videoContainerWidth =
          videoContainerRect.width;
        const videoContainerHeight =
          videoContainerRect.height;

        videoContainer.style.top = `${e.layerY - videoContainerHeight / 2}px`;
        videoContainer.style.left = `${e.layerX - videoContainerWidth / 2}px`;
      });

      hoverText.addEventListener("mouseout", () => {
        videoContainer.classList.toggle("hidden");
      });
    });
  });
</script>

<Layout title="Kristjan Poska">
  <Wrapper shouldWrapMdx={false}>
    <h1>Kristjan Poska</h1>

    <main class="mx-auto mt-8">
      <div
        class="group relative select-none hover:cursor-pointer"
        id="hero-image">
        <Lines />

        <Image
          loading="eager"
          src={heroImage}
          alt="Kristjan Poska taking a picture of himself in a reflection."
        />
      </div>

      <div
        class="mt-2 flex gap-1 rounded-xl text-xs text-neutral-500"
        id="hero-image">
        <CornerLeftUp class="h-3 w-3" /> Click on the image
        to change colors!
      </div>

      <header class="mt-8">
        <h2 class="mb-4">About</h2>
        <div class="flex flex-col gap-2">
          <p>
            Hey, I'm Kristjan. I am a product designer from
            Estonia. I am all about crafting sleek and
            user-friendly digital spaces and creating
            systems out of chaos. My toolbox includes (yet
            is not limited to) TypeScript, React and
            TailwindCSS on the development side and Figma
            plus my creative-side of the brain on the design
            side.
          </p>

          <p>
            If you don't find me on the internet, I am
            probably either out <span
              class="underline hover:cursor-none hover:no-underline"
              id="bicycle-hover"
              >riding my single-speed</span
            >, <span
              class="underline hover:cursor-none hover:no-underline"
              id="guitar-hover"
              >practicing a new Tom Misch song on guitar</span
            > or running around aimlessly with a Fujifilm
            camera.
          </p>

          <div
            id="bicycle-video-container"
            class="pointer-events-none absolute hidden h-[360px] w-[240px]">
            <video id="bicycle-video" loop autoplay muted>
              <source
                src={bicycleVideo}
                type="video/webm"
              />
               Your browser does not support the video tag.
            </video>
          </div>

          <div
            id="guitar-video-container"
            class="pointer-events-none absolute hidden h-[240px] w-[320px]">
            <video id="guitar-video" loop autoplay muted>
              <source src={guitarVideo} type="video/webm" />
               Your browser does not support the video tag.
            </video>
          </div>

          <section class="mt-8">
            <h2 class="mb-4">Stuff that's on my mind</h2>
            <div class="[&>#list-element]:hover:opacity-70">
              {
                posts.map((post) => {
                  const { description, date, type } =
                    post.frontmatter;

                  return (
                    <Card
                      date={date}
                      description={description}
                      href={post.url}
                      type={type}
                    />
                  );
                })
              }
            </div>
          </section>

          <footer class="mt-8">
            <h2 class="mb-4">Links</h2>

            <ul role="list">
              <li class="group w-fit">
                <a
                  href="https://instagram.com/kristjanposka"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >Instagram</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>

              <li class="group w-fit">
                <a
                  href="https://www.linkedin.com/in/kristjan-poska/"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >LinkedIn</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>

              <li class="w-fit">
                <a
                  class="underline hover:no-underline"
                  href="mailto:kristjanposka@gmail.com"
                  >E-mail</a
                >
              </li>

              <li class="group w-fit">
                <a
                  href="https://read.cv/poska"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline group-hover:no-underline"
                    >Resume</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </header>
    </main>
  </Wrapper>
</Layout>
