---
import heroImage from "@assets/kristjan.jpeg";
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Content from "@components/content/Content.astro";
import Link from "@components/footer/Link.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";
import { Image } from "astro:assets";

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);
---

<Layout title="Kristjan Poska">
  <Container shouldWrapMdx={false}>
    <header
      class="mx-auto mt-8 animate-slidein opacity-0 [--slidein-delay:0ms]">
      <div class="flex justify-between">
        <h1>Kristjan Poska</h1>

        <nav>
          <ul class="flex gap-2">
            <li>
              <a
                href="/photos"
                class="text-neutral-500 hover:text-inherit"
                >Photos</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div
        class="group relative mt-8 select-none"
        id="hero-image">
        <Image
          class="aspect-video object-cover"
          loading="eager"
          src={heroImage}
          alt="Kristjan Poska taking a picture of himself in a reflection."
        />
      </div>
    </header>

    <main class="mt-8 flex flex-col gap-8">
      <Content
        title="About"
        className="animate-slidein opacity-0 [--slidein-delay:100ms]">
        <p>
          Hey, I'm Kristjan and I'm from Estonia. I love
          crafting sleek, user-friendly digital spaces and
          creating order from chaos.
        </p>

        <p>
          My background is multicolored. I have formally
          studied linguistics and interaction design, but
          also have a vivid background in software
          engineering, mainly <a
            href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
            class="underline hover:no-underline"
            target="_blank"
            >front-of-the-front-end engineering</a
          >. I have also stepped my toes in marketing and
          have worked as a barista, which is where my love
          for coffee is derived from.
        </p>
      </Content>

      <Content
        title="Now"
        className="animate-slidein opacity-0 [--slidein-delay:200ms]">
        <p>
          I am currently working as a Software Engineer at
          <a
            class="underline hover:no-underline"
            href="https://milremrobotics.com/"
            target="_blank">Milrem</a
          >, a developer of robotics and autonomous systems
          and systems integrator. I am part of the Human
          Machine Interface team, where we enhance user
          interfaces and improve the overall user experience
          related to our systems.
        </p>

        <p>
          If you don't find me on the internet, I am either
          out riding my bicycle, practicing a new song on
          guitar, brewing some fancy specialty coffee or
          taking pictures with my trusty camera.
        </p>
      </Content>

      <Content
        title="Stuff that's on my mind"
        className="animate-slidein opacity-0 [--slidein-delay:300ms]">
        <div class="[&>#list-element]:hover:opacity-50">
          {
            posts.map((post) => (
              <Card
                date={post.frontmatter.date}
                description={post.frontmatter.description}
                href={post.url}
                type={post.frontmatter.type}
              />
            ))
          }
        </div>
      </Content>
    </main>

    <footer
      class="mt-8 animate-slidein opacity-0 [--slidein-delay:400ms]">
      <Content title="Links">
        <ul role="list">
          <Link
            href="https://instagram.com/kristjanposka"
            title="Instagram"
          />

          <Link
            href="https://www.linkedin.com/in/kristjan-poska/"
            title="LinkedIn"
          />

          <Link
            href="mailto:kristjanposka@gmail.com"
            title="E-mail"
            withIcon={false}
          />
        </ul>
      </Content>
    </footer>
  </Container>
</Layout>
