---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

import { sortAndHidePosts } from "@utils/utils";

const posts = await Astro.glob("../pages/craft/*.mdx");
const parsedPosts = sortAndHidePosts(posts);
---

<Layout title="Kristjan Poska – Product Designer">
  <header
    class="mb-8 flex animate-fade-up flex-col items-start gap-8 rounded-3xl py-48 animate-once animate-ease-out md:items-center md:py-24">
    <h1
      class="text-6xl tracking-tighter md:text-center md:text-2xl">
      Creative designer
      <span class="font-semibold">
        designing tomorrow's solutions today</span
      >.
    </h1>

    <div class="group relative inline-flex">
      <div
        class="animate-tilt absolute -inset-px rounded-full bg-gradient-to-r from-[#FEEA93] via-[#91C6F7] to-[#9CE6CF] opacity-70 blur-lg transition-all duration-1000 group-hover:-inset-3 group-hover:opacity-100 group-hover:duration-200">
      </div>
      <a
        href="mailto:kristjanposka@gmail.com"
        title="Say hi!"
        class="relative inline-flex items-center justify-center rounded-full bg-neutral-700 px-8 py-4 text-sm font-semibold text-white transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:ring-offset-2"
        role="button"
        >Say hi!
      </a>
    </div>
  </header>

  <section
    class="grid scroll-mt-16 grid-cols-2 gap-8 md:grid-cols-1">
    {
      parsedPosts.map((post, index) => {
        const {
          alt,
          description,
          card_cover,
          title,
          duration,
          role,
        } = post.frontmatter;

        return (
          <Card
            index={index + 1}
            role={role}
            alt={alt}
            duration={duration}
            description={description}
            href={post.url}
            imageSrc={card_cover}
            title={title}
          />
        );
      })
    }
  </section>
</Layout>
