---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import EmailButton from "@components/EmailButton.astro";

import {sortAndHidePosts} from '@utils/utils';

const posts = await Astro.glob('../pages/craft-mdx/*.mdx');
---

<Layout title="Kristjan Poska – Design Engineer">
  <header
    class="my-48 sm:my-24 flex flex-col gap-8 animate-fade-right animate-once animate-ease-out"
  >
    <h1 class="text-4xl sm:text-2xl max-w-3xl">
      Hey, I'm Kristjan. I craft memorable digital experiences with precision
      and passion.
    </h1>

    <div class="flex flex-col justify-between gap-8">
      <h2 class="text-lg max-w-prose">
        I bring your vision to life while paying meticulous attention to even
        the smallest details.
      </h2>
    </div>
  </header>

  <section
    id="craft"
    class="flex flex-col gap-4 scroll-mt-16 animate-fade-right animate-once animate-ease-out animate-delay-200"
  >
    <h3 class="text-neutral-600 uppercase mb-4">Recent work</h3>

    {sortAndHidePosts(posts).map((post) => {
      const {alt, color, description, href, card_cover, title, laptop} = post.frontmatter;

      return (
        <Card
          alt={alt}
          background={`bg-[${color}]`}
          description={description}
          href={post.url}
          imageSrc={card_cover}
          title={title}
          laptop={laptop}
        />
      )
    })}
  </section>

  <section
    class="my-40 sm:my-20 sm:text-center animate-fade-right animate-once animate-ease-out animate-delay-[400ms]"
  >
    <h1 class="text-4xl mb-2 sm:text-2xl">Let's get to know each other.</h1>
    <EmailButton />
  </section>
</Layout>
