---
const { title, description, imageSrc, alt, href, delay } = Astro.props;
---

<a
  href={href}
  class={`min-h-80 flex justify-between gap-16 md:gap-8 md:flex-col-reverse group bg-white p-8 rounded-lg shadow-sm hover:shadow-lg hover:scale-105 border-gray-500 transition-all`}>
  <div class="flex flex-col gap-8">
    <h2 class="text-5xl sm:text-2xl">
      {title}
    </h2>
    <p class="text-2xl sm:text-lg">{description}</p>
  </div>

  <img
    class="object-cover bg-center aspect-square rounded-lg transition max-w-xs md:max-w-full"
    src={imageSrc}
    alt={alt}
  />
</a>
