---
import Layout from "@layouts/Layout.astro";
import Metadata from "@components/Metadata.astro";
import { sortPosts } from "@utils/utils";

const { frontmatter } = Astro.props;

const posts = sortPosts(
  await Astro.glob("../pages/craft/*.mdx")
);

const currPostIdx = posts.findIndex(
  (post) => post.frontmatter.title === frontmatter.title
);
const prevProject = posts[currPostIdx - 1];
const nextProject = posts[currPostIdx + 1];

const prevTitle = prevProject?.frontmatter?.title;
const nextTitle = nextProject?.frontmatter?.title;
---

<Layout title="Kristjan Poska – Product Designer">
  <div class="my-8">
    <h1 class="font-semibold">
      {frontmatter.title}
    </h1>

    <div class="mb-4 font-medium text-neutral-700">
      {frontmatter.description}
    </div>

    <Metadata
      role={frontmatter.role}
      date={frontmatter.date}
      methods={frontmatter.methods}
    />

    <img
      class="aspect-video max-w-full bg-center object-cover transition"
      src={frontmatter.cover}
      alt={frontmatter.cover_alt}
    />
  </div>

  <div class="project">
    <slot />
  </div>

  <section
    class:list={[
      "my-20 flex items-center gap-8",
      { "justify-end": !prevProject && nextProject },
      { "justify-between": prevProject && nextProject },
    ]}>
    {
      prevProject && (
        <a
          class="hover:text-theme-orange text-sm"
          href={prevProject?.url}>
          ← Previous project ({prevTitle})
        </a>
      )
    }
    {
      nextProject && (
        <a
          class="hover:text-theme-orange text-sm"
          href={nextProject?.url}>
          Next project ({nextTitle}) →
        </a>
      )
    }
  </section>
</Layout>
