---
import Layout from "@layouts/Layout.astro";
import Metadata from "@components/Metadata.astro";
import { sortAndHidePosts } from "@utils/utils";

const { frontmatter } = Astro.props;

const posts = await Astro.glob("../pages/craft/*.mdx");
const sortedPosts = sortAndHidePosts(posts);

const currPostIdx = sortedPosts.findIndex(
  (post) => post.frontmatter.title === frontmatter.title
);
const prevProject = sortedPosts[currPostIdx - 1];
const nextProject = sortedPosts[currPostIdx + 1];

const prevHref = prevProject?.frontmatter?.href;
const prevTitle = prevProject?.frontmatter?.title;

const nextHref = nextProject?.frontmatter?.href;
const nextTitle = nextProject?.frontmatter?.title;

let projectNavClassName = "justify-between";

if (!prevProject && nextProject) {
  projectNavClassName = "justify-end";
}
---

<Layout title="Kristjan Poska – Product Designer">
  <div class="my-8">
    <h1 class="font-semibold">
      {frontmatter.title}
    </h1>

    <div class="mb-4 font-medium text-neutral-500">
      {frontmatter.description}
    </div>

    <Metadata
      role={frontmatter.role}
      date={frontmatter.date}
      methods={frontmatter.methods}
    />

    <img
      class="aspect-video max-w-full bg-center object-cover transition"
      src={frontmatter.cover}
      alt={frontmatter.cover_alt}
    />
  </div>

  <div class="project">
    <slot />
  </div>

  <section
    class={`flex my-20 items-center ${projectNavClassName} gap-8`}>
    {
      prevProject && (
        <a
          class="text-sm hover:text-green-500"
          href={`/craft/${prevHref}`}>
          ← Previous project ({prevTitle})
        </a>
      )
    }
    {
      nextProject && (
        <a
          class="text-sm hover:text-green-500"
          href={`/craft/${nextHref}`}>
          Next project ({nextTitle}) →
        </a>
      )
    }
  </section>

  <style
    define:vars={{ backgroundColor: frontmatter.color }}
  ></style>
</Layout>
